.LogBugButtons {
    font-Size: 0.75rem;
    display: inline-block;
    width: auto ;
}

.LogDefectInputs {
    width: 882px;
    font-Size: 0.75rem;
    height: 5.0rem;
}

.LogBugLabels {
    font-Size: 0.7rem;
    text-Decoration: underline
}

.LogBugTextArea {
    font-Size: 0.7rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #F05F44;
    border-color: #F05F44 #F05F44 #F05F44;
}

.nav-tabs {
    border-bottom: 1px solid #F05F44;
}

.nav-linkBug {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.75rem;
}

.TabContent {
    height: auto
}

.modal-content{
    width: max-content
}

.modal-header {
    padding-bottom: 0px;
}

.nav-itemBug {
    border-left-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-right-radius: 0.5em;
    border-color: #F05F44;
}
